name: Tado Auto Assist
version: 1.6.2
slug: tado_aa
description: Tado自动辅助功能用于地理围栏和开窗检测。
url: https://gh-proxy.com/github.com/FaserF/hassio-addons/tree/master/tado_aa
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
image: ghcr.nju.edu.cn/faserf/tado_aa-{arch}
init: false
options:
  username:
  password:
  minTemp: int(5, 25)
  maxTemp: int(5, 25)
  log_level: info
schema:
  username: str
  password: password
  minTemp: int
  maxTemp: int
  log_level: list(info|minimal)?
