name: Music Assistant Server (beta)
version: 2.5.0b9
slug: music_assistant_beta
description: $'音乐助理的Beta版本。如果您想跟上最新和最好的版本，并且愿意进行一些Beta测试，请安装此版本！在Discord上关注我们以报告和讨论反馈！

翻译：
音乐助手的Beta版。如果您想要紧跟最新的最佳版本，并不介意进行一些Beta测试，那么就安装这个版本吧。请在 Discord 上关注我们以报告和讨论反馈！'
  keep up with the latest and greatest and don't mind some beta testing. Follow us
  on discord to report and discuss feedback!
url: https://music-assistant.io
arch:
- amd64
- aarch64
homeassistant_api: true
auth_api: true
host_network: true
ingress: true
ingress_port: 8095
panel_icon: mdi:play-circle
panel_title: Music Assistant
panel_admin: false
uart: false
map:
- media:rw
init: false
advanced: false
backup_exclude:
- cache.db
- collage_images/*
- .cache/*
stage: stable
image: ghcr.nju.edu.cn/music-assistant/server
tmpfs: true
options:
  log_level: info
  safe_mode: false
schema:
  log_level: list(debug|info|warning|error)
  safe_mode: bool
privileged:
- SYS_ADMIN
- DAC_READ_SEARCH
