name: "ConvertX"
version: "v0.12.0"
upstream: "v0.12.0"
slug: convertx
description: "翻译成中文是：“大于”。"
  A self-hosted online file converter. Supports 831 different formats. Written with TypeScript, Bun and Elysia
arch:
  - amd64
  - aarch64
url: "https://gh-proxy.com/github.com/jdeath/homeassistant-addons"
ports:
  3000/tcp: 3000
ports_description: "翻译成中文是：“大于”。"
  3000/tcp: "Web Interface"
map:
  - type: addon_config
    read_only: false
    path: /app/data
environment:
  ACCOUNT_REGISTRATION: "false"
  HTTP_ALLOWED: "true"
  ALLOW_UNAUTHENTICATED: "true"
image: ghcr.nju.edu.cn/c4illin/convertx
boot: auto
startup: services
webui: "[PROTO:ssl]://[HOST]:[PORT:3000]"
panel_admin: false
ingress: false
ingress_port: 3000
